<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Character Sheet</title>
    <link rel="stylesheet" href="../static/css/character_sheet.css" />
  </head>
  <body>
    <form class = "charsheet">
      <header>
        <section class = "charname">
          <label class = "charname" for = "charname">Character Name</label>
          <input class = "charname" name = "charname" type = 'text' placeholder="Hardwon Surefoot">
        </section>
        <section class = "misc">
          <ul class = "misc">
            <li class = "misc">
              <label class = "misc" for ="classlevel">Class & Level</label>
              <input class = "misc" name = "classlevel" type = "text" placeholder="Paladin 2">
            </li>
            <li class = "misc">
              <label  class = "misc" for = "background">Background</label>
              <input class = "misc" name = "background" type = "text" placeholder="Alcolyte">
            </li>
            <li class = "misc">
              <label class = "misc" for = "playername">Player Name</label>
              <input class = "misc" name = "playername" type = "text" placeholder="Some Dude">
            </li>
            <li class = "misc">
              <label class = "misc" for = "race">Race</label>
              <input class = "misc" name = "race" type = "text" placeholder="Mountain Dwarf">
            </li>
            <li class = "misc">
              <label class = "misc" for = "alignment">Alignment</label>
              <input class = "misc" name = "alignment" type = "text" placeholder="Lawful Good">
            </li>
            <li class = "misc">
              <label class = "misc" for = "exp">Experience Points</label>
              <input class = "misc" name = "exp" type = "text" placeholder="3000">
            </li>
          </ul>
        </section>
      </header>
    </form>
  </body>
</html>
