{% extends 'base.html' %}

{% block body %} 

<div class = "main-container">
  <h1>Create New Character</h1>
  <br />
  <h3 class = "h3 mb-3 font-weight-normal">Choose Race:</h3>
  {% for race in races %}
    {% if race.race_has_subrace %}
    <div class = "btn-group">
      <button class = "btn btn-primary dropdown-toggle" type="button"  id = "race-{{race.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ race.race_name }}
      </button>
      <div class = "dropdown-menu" aria-labelledby = {{ race.race_name }}>
        {% for sub_race in sub_races %}
          {% if sub_race.sub_race_parent == race %}
            <a class = "dropdown-item" href="#" id="subrace-{{ sub_race.id }}">{{sub_race.sub_race_name}}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div class = "btn-group">
      <button class = "btn btn-primary" id = "race-{{race.id}}">{{ race.race_name }}</button>
    </div>
    {% endif %}
  {% endfor %}
  <br />
  {% for race in races %} 
  <div style = "text-align: center;" class = "race-header" id="r-header-{{race.id}}">
    <h3>{{ race.race_name}} </h3>
    <img src = "{{race.race_img}}" height=300>
  </div>
    <p class = "race-description" id = "rdescription-{{race.id}}">
      {{race.race_description}}
    <br /><br />
    {% if race.race_str_bonus %}
      Strength: +{{race.race_str_bonus}}
    {% endif %}
    {% if race.race_dex_bonus %}
      Dexterity: +{{ race.race_dex_bonus}}
    {% endif %}
    {% if race.race_con_bonus %}
      Constitution: +{{ race.race_con_bonus}}
    {% endif %}
    {% if race.race_int_bonus %}
      Intelligence: +{{ race.race_int_bonus}}
    {% endif %}
    {% if race.race_wis_bonus %}
      Wisdom: +{{ race.race_wis_bonus}}
    {% endif %}
    {% if race.race_cha_bonus %}
      Charisma: +{{ race.race_cha_bonus}}
    {% endif %}
    {% if race.race_name == "Half-Elf" %} 
    , +1 to two other ability scores 
    {% endif %}
    </p>
  {% endfor %}
  {% for sub_race in sub_races %}
    <p id = "srdescription-{{sub_race.id}}" style="text-align: left;">
        <strong>{{ sub_race.sub_race_name}} </strong><br />
        {{sub_race.sub_race_description}}
        <br /><br />
        {% if sub_race.sub_race_str_bonus %}
          Strength: +{{ sub_race.sub_race_str_bonus }}
        {% endif %}
        {% if sub_race.sub_race_dex_bonus %}
          Dexterity: +{{ sub_race.sub_race_dex_bonus }}
        {% endif %}
        {% if sub_race.sub_race_con_bonus %}
          Constitution: +{{ sub_race.sub_race_con_bonus }}
        {% endif %}
        {% if sub_race.sub_race_int_bonus %}
          Intelligence: +{{ sub_race.sub_race_int_bonus }}
        {% endif %}
        {% if sub_race.sub_race_wis_bonus %}
          Wisdom: +{{ sub_race.sub_race_wis_bonus }}
        {% endif %}
        {% if sub_race.sub_race_cha_bonus %}
          Charisma: +{{ sub_race.sub_race_cha_bonus }}
        {% endif %}
    </p>
  {% endfor %}
</div>
{% endblock %}