{% extends 'base.html' %}

{% block body %} 

<div class = "main-container">
  <h1>Create New Character</h1>
  <br /><br />
  <h3 class = "h3 mb-3 font-weight-normal">Choose Race:</h3>
  {% for race in races %}
    {% if race.race_has_subrace %}
    <div class = "btn-group">
      <button class = "btn btn-primary dropdown-toggle" type="button"  id = "race-{{race.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ race.race_name }}
      </button>
      <div class = "dropdown-menu" aria-labelledby = {{ race.race_name }}>
        {% for sub_race in sub_races %}
          {% if sub_race.sub_race_parent == race %}
            <a class = "dropdown-item" href="#" id="subrace-{{ sub_race.id }}">{{sub_race.sub_race_name}}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div class = "btn-group">
      <button class = "btn btn-primary" id = "race-{{race.id}}">{{ race.race_name }}</button>
    </div>
    {% endif %}
  {% endfor %}
  <br />
  {% for race in races %} 
    <p class = "race-description" id = "rdescription-{{race.id}}">
      <strong>{{ race.race_name}} </strong><br />
      {{race.race_description}}</p>
  {% endfor %}
  {% for sub_race in sub_races %}
    <p id = "srdescription-{{sub_race.id}}" style="text-align: left;">
        <strong>{{ sub_race.sub_race_name}} </strong><br />
        {{sub_race.sub_race_description}}
    </p>
  {% endfor %}
</div>
{% endblock %}