.charsheet {
  width: 800px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

header {
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

section.charname {
  border: 1px solid black;
  border-right: 0;
  border-radius: 10px;
  padding: 5px 0;
  background-color: #eee;
  width: 30%;
  display: flex;
  flex-direction: column-reverse;
  bottom: 0;
  top: 0;
  margin: auto;
}

input.charname {
  padding: 0.5em;
  margin: 5px;
  border: 0;
}

label.charname {
  padding-left: 1em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-image: none;
  display: block;
}

section.misc {
  width: 70%;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
}

ul.misc {
  padding: 10px 0px 5px 0px;
  display: flex;
  flex-wrap: wrap;
}

li.misc {
  width: 33.33333%;
  display: flex;
  flex-direction: column-reverse;
}

label.misc {
  margin-bottom: 5px;
}

input.misc {
  border: none;
  border-bottom: 1px solid #ddd;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

main > section {
  width: 32%;
  display: flex;
  flex-direction: column;
}

section.attributes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.scores {
  width: 101px;
  background-color: #bbb;
  border-radius: 10px;
  padding-bottom: 10px;
}

label.score {
  font-size: 8px;
  font-weight: bold;
}

ul.scores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

li.score {
  height: 80px;
  width: 70px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

input.score {
  width: 100%;
  border: 0;
  padding: 0;
  text-align: center;
  font-size: 40px;
  padding: 2px 0px 0px 0px;
  background-color: white;
}

div.modifier {
  margin-top: 3px;
}

input.modifier {
  background-color: white;
  width: 30px;
  height: 20px;
  border: 1px inset black;
  margin: -1px;
  text-align: center;
  border-radius: 40px;
}